// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  color: rgb(204, 35, 117);
  font-size: 80px;
}
h1 {
  color: rgb(147, 255, 9);
  font-size: 100px;
}
